p{
    color: darkolivegreen;
    text-align: center;
    font: 20;
}

.ian{
    color: darkolivegreen;
    background-color: lightgray;
}

#opa{
    color: darkolivegreen;
}


a:link{
    color: royalblue;
}

a:visited{
    color: slategray;
}

a:hover{
    color: #FF00FF;
}

a:active{
    color: #00f;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }















  