.ip{
    background-color: lavenderblush;
}

p{
    color: darkblue;
    text-align: left;
    font: 100;
}

.ian{
    color: darkblue;
}

#opa{
    color: darkblue;
}

a:link{
    color: red;
}

a:visited{
    color: red;
}

a:hover{
    color: rgb(243, 13, 155);
}

a:active{
    color: #00f;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    max-width: 400px;
    max-height: 400px;
}







/* form.html */


.b{
    color: darkblue;
    text-align: center;
    font-size: 30px;
}

.ze{
    color: darkblue;
    text-align: center;
    font-size: 25px;
}

.muda{
    color: blue;
}

.pi{
    background-color: lightgrey;
}

@media only screen and (max-device-width: 900px) {
    
    }
    @media only screen and (max-device-width: 700px) {
        }


  