p{
    color: darkolivegreen;
    text-align: center;
}

.ian{
    color: darkolivegreen;
    background-color: palevioletred;
}

#opa{
    color: darkolivegreen;
}


a:link{
    color: royalblue;
}

a:visited{
    color: #0f0;
}

a:hover{
    color: #FF00FF;
}

a:active{
    color: #00f;
}